doctype html
html
	head
		meta(charset="utf-8")
		title Planning Poker
		link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css',type="text/css", media="all"  )
		link(rel='stylesheet', href='stylesheets/card_styles.css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
		script(src='javascripts/client/Model.js')
		script(src='javascripts/client/Presenter.js')
		script(src='javascripts/client/View.js')
		script.
			$( function() {
				var view = new PlayView();
				var model = new Model();

				var presenter = new PlayPresenter(model, view);
			});
	body
		h1 Planning Poker
		div#namedialog(title='Enter Name')
			p.validateTips Enter your name - at least 5 chararacters
			form
				fieldset
					label(for='name') Name:
					input#name.text.ui-widget-content.ui-corner-all(type='text' name='name')
		
		div.ui-widget.ui-helper-clearfix
			div#playingarea.ui-widget-content.ui-state-default
				h4.ui-widget-header playingarea
					span.ui-icon.ui-icon-playingarea 
			ul#cardarea.cardarea.ui-helper-reset.ui-helper-clearfix

